

.container {
  flex: 1; /* Takes all available space except the footer */
  /* display: flex; 
  flex-direction: column; */
}

/* Footer */
.footer {
  background-color: #111;
  color: #fff;
  padding: 40px 20px;
  width: 97.39%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3); /* Elegant shadow */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-brand {
  flex: 1;
  margin-bottom: 20px;
}

.footer-brand h2 {
  color: #e74c3c;
}

.footer-brand p {
  max-width: 300px;
  line-height: 1.6;
}

.footer-links,
.footer-contact {
  flex: 1 ;
  margin-bottom: 20px;
}


.footer-links h3,
.footer-contact h3 {
  color: #e74c3c;
}

.footer-links ul,
.footer-contact ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li,
.footer-contact ul li {
  margin-bottom: 10px;
}

.footer-links ul li a,
.footer-contact ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-links ul li a:hover,
.footer-contact ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #444;
  padding-top: 20px;
  margin-top: 20px;
}

.footer-bottom a {
  color: #e74c3c;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}
