/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgb(186, 108, 108);
  opacity: 0.8;
 
 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* Logo Styling */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 45px;
  height: 45px;
  margin-right: 0.5rem;
}

.logo-text {
  font-size: 2rem;
  color: #fff;
  font-family:"Arial, Helvetica, sans-serif";
  font-weight: 700;
}

/* Navigation Links */
.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  padding-top: .4rem;
  font-size: 1.3rem;
  color: #fff;
  font-family:"Arial, Helvetica, sans-serif";
  padding-right: 3rem;
  transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #923737;
}

.logout-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 45px;
  background-color: rgb(203, 199, 61);
}





/* Mobile Menu Icon */
.menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #923737;
}



/* Responsive Design */
@media (max-width: 768px) {
  .menu-icon {
      display: block;
  }

  .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background: white;
      width: 100%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 1rem;
  }

  .nav-links.open {
      display: flex;
  }

  .nav-links a {
      padding: 1rem;
      text-align: center;
      border-bottom: 1px solid #eee;
  }

  .nav-links a:last-child {
      border-bottom: none;
  }
}
